*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #222;
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    gap: .5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: .55rem;
    align-items: center;
}

header {
    display: flex;
    width: 70%;
    margin-bottom: -1.5rem;
}

header>img {
    width: 100%;
}

.firstTurn {
    font-weight: bold;
    font-style: italic;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,100px);
}

.cell {
    border: 1.5px solid darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    color: whitesmoke;
    height: 90px;
}

.cell:hover{
    cursor: pointer;
}

button {
    border: .5px solid rgb(66, 170, 170);
    background-color: rgb(20, 19, 19);
    color: whitesmoke;
    border-radius: 10px;
    padding: .25rem;
    width: 35%;
    text-align: center;
}

button:hover, .close:hover {
    cursor: pointer;
    opacity: .75;
}

.result {
    animation: tictactoe 3s infinite;
    align-self: center;
    margin-top: 80px;
    font-size: 45px;
    font-weight: bold;
}

.global-scores {
    color: white;
    border: .25px outset darkcyan;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.global-scores>p{
    opacity: 67%;
}

#tictactoe:hover{
    animation: tictactoe 2s infinite;
}

#scoreX>b, .darksalmon{
    color: darksalmon;
}

#scoreO>b, .darkolivegreen{
    color: darkolivegreen;
}

.darksalmon, .darkolivegreen{
    font-size: 3rem;
    font-weight: bold;
}

.modal-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 30%;
    border: .25px solid rgb(66, 170, 170);
    border-radius: 10px;
    height: 35%;
    background-color: rgb(82, 82, 82);
    position: relative;
    transition: transform .5s;
    transform: translateY(35%);
}

.close {
    position: absolute;
    border: 1px solid rgb(66, 170, 170);
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #222;
    border-radius: 50%;
    color: whitesmoke;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
}

.modal-close {
    transform: translateY(-200%);
}

.modal-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.modal-buttons>button {
    margin-bottom: .5rem;
}

@keyframes tictactoe {
    0% {
        color: rgb(66, 170, 170);
    }
    50% {
        color: darksalmon;
    }
    100% {
        color: darkolivegreen;
    }
}

@media only screen and (max-width: 1024px) {
    .modal {
        width: 50%;
    }

    .result {
        text-align: center;
        font-size: 45px;
        margin: 70 10px 0 10px;
    }
}

@media only screen and (max-width: 400px) {
    .modal {
        width: 80%;
    }

    header {
        width: 90%;
    }

    .result {
        font-size: 35px;
    }
    
}