*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #222;
    height: 100vh;
    display: grid;
    place-content: center;
    gap: .5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: .55rem;
    align-items: center;
}

h1 {
    color:whitesmoke;
    opacity: 67%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,100px);
}

.cell {
    border: 1px solid rgb(66, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    color: whitesmoke;
    height: 90px;
}

.cell:hover{
    cursor: pointer;
}

button {
    border: .5px solid rgb(66, 170, 170);
    background-color: rgb(20, 19, 19);
    color: whitesmoke;
    border-radius: 10px;
    padding: .25rem;
    width: 35%;
    text-align: center;
}

button:hover {
    cursor: pointer;
    opacity: .75;
}

.result {
    color: greenyellow;
}

.global-scores {
    color: white;
    border: .25px outset darkcyan;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.global-scores>p{
    opacity: 67%;
}

#tictactoe:hover{
    animation: tictactoe 2s infinite;
}

#scoreX>b, .darksalmon{
    color: darksalmon;
}

#scoreO>b, .darkolivegreen{
    color: darkolivegreen;
}

.darksalmon, .darkolivegreen{
    font-size: 3rem;
    font-weight: bold;
}

@keyframes tictactoe {
    0% {
        color: rgb(66, 170, 170);
    }
    50% {
        color: darksalmon;
    }
    100% {
        color: darkolivegreen;
    }
}
